<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'handybusmvp/index.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'handybusmvp/admin/index.css' %}">
</head>

<body>

    <header class="border-b p-4 header-fixed bg-gray-400">

        <div class="flex justify-between items-center mt-4 mb-4">
            <h1 class="text-xl font-bold">관리자 페이지</h1>
        </div>

    </header>

    <div class="flex justify-center items-center min-h-screen bg-gray-100">
        <div class="bg-white max-w-sm w-full rounded-lg shadow-md p-6">
            <main>
                <form method="post" action="{% url 'admin:login' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="block text-gray-700 text-sm font-bold mb-2">관리자 아이디:</label>
                        <input type="text" id="username" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                    </div>
                    <div class="mb-6">
                        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">관리자 비밀번호:</label>
                        <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            로그인
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </div>
    
    
    <footer class="border-t p-4 footer-fixed bg-gray-400">
        <p class="text-center">HandyBus 관리자 페이지</p>
    </footer>

</body>

</html>
