<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가격 책정 관리 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'handybusmvp/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'handybusmvp/admin/index.css' %}">
</head>
<body>
    <header class="border-b p-4 header-fixed bg-gray-400">
        <div class="flex justify-between items-center mt-4 mb-4">
            <h1 class="text-xl font-bold">{{ name }} 가격 책정 관리 페이지</h1>
            <a href="{% url 'admin:concertadmin' %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold px-4 rounded">
                관리자 페이지 돌아가기
            </a>
        </div>
    </header>

    <div class="flex justify-center items-center">
        <div class="bg-white max-w-500px w-full content-spacing">
            <main class="my-8 p-4">
                <div class="flex flex-row flex-wrap justify-start items-start">
                    {% for concert in concerts %}
                        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-2 card-container">
                            <div class="bg-white shadow-md rounded p-4">
                                <h2 class="text-lg font-semibold">{{ concert.name }} - {{ concert.date }}</h2>
                                <table class="table-auto w-full mt-4">
                                    <thead>
                                        <tr>
                                            <th class="border px-4 py-2 bg-gray-200">지역</th>
                                            <th class="border px-4 py-2 bg-gray-300">선예약 가격</th>
                                            <th class="border px-4 py-2 bg-gray-200">왕복 가격</th>
                                            <th class="border px-4 py-2 bg-gray-300">상행 가격</th>
                                            <th class="border px-4 py-2 bg-gray-200">하행 가격</th>
                                            <th class="border px-4 py-2 bg-gray-300">정보 수정/삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <h4>가격 정보 최대한 수정하지 않는 걸로 생각해주세욤</h4>
                                        {% for c, price in pricingEntries %}
                                            {% if c == concert %}
                                            {% load humanize %}
                                            <tr id="pricing_{{ price.id }}">
                                                <td class="border px-4 py-2 region">{{ price.get_region_display }}</td>
                                                <td class="border px-4 py-2 pre-reserve-price">{{ price.pre_reserve_price|intcomma }}원</td>
                                                <!-- ... other price fields ... -->
                                                <td class="border px-4 py-2 round-trip-price">{{ price.round_trip_price|intcomma }}원</td>
                                                <td class="border px-4 py-2 upbound-price">{{ price.upbound_price|intcomma }}원</td>
                                                <td class="border px-4 py-2 downbound-price">{{ price.downbound_price|intcomma }}원</td>
                                                <td class="border px-4 py-2">
                                                    <button class="edit-button bg-gray-500 hover:bg-gray-700 text-white font-bold px-4 rounded" onclick="editPricing({{ price.id }})">수정</button>
                                                    <form action="{% url 'admin:deletePricing' price.id %}" method="post" style="display:inline;">
                                                        {% csrf_token %}
                                                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold px-4 rounded">삭제</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% empty %}
                                            <tr>
                                                <td class="border px-4 py-2" colspan="6">가격 정보가 없습니다.</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
    
                                <form action="{% url 'admin:pricing' concert.name %}" method="post" class="mt-4">
                                    {% csrf_token %}
                                    <input type="hidden" name="concert_id" value="{{ concert.id }}">
                                    <select name="region" required class="border p-2 mr-2 mb-2">
                                        <option value="" disabled selected>지역 선택</option>
                                        {% for code, name in regions %}
                                            <option value="{{ code }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="number" name="pre_reserve_price" placeholder="선예약 가격" required class="border p-2 mr-2 mb-2">
                                    <input type="number" name="round_trip_price" placeholder="왕복 가격" required class="border p-2 mr-2 mb-2">
                                    <input type="number" name="upbound_price" placeholder="상행 가격" class="border p-2 mr-2 mb-2">
                                    <input type="number" name="downbound_price" placeholder="하행 가격" class="border p-2 mr-2 mb-2">
                                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">추가하기</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>
    
    <footer class="border-t p-4 footer-fixed bg-gray-400">
        <p class="text-center">HandyBus 관리자 페이지</p>
    </footer>


        <script>
            function editPricing(pricingId) {
                var row = document.getElementById('pricing_' + pricingId);
                var preReservePriceCell = row.querySelector('.pre-reserve-price');
                var roundTripPriceCell = row.querySelector('.round-trip-price');
                var upboundPriceCell = row.querySelector('.upbound-price');
                var downboundPriceCell = row.querySelector('.downbound-price');
            
                var preReservePrice = preReservePriceCell.innerText.replace(/[^\d]/g, '');
                var roundTripPrice = roundTripPriceCell.innerText.replace(/[^\d]/g, '');
                var upboundPrice = upboundPriceCell.innerText.replace(/[^\d]/g, '');
                var downboundPrice = downboundPriceCell.innerText.replace(/[^\d]/g, '');
            
                preReservePriceCell.innerHTML = `<input type="number" name="pre_reserve_price" value="${preReservePrice}" class="border p-2">`;
                roundTripPriceCell.innerHTML = `<input type="number" name="round_trip_price" value="${roundTripPrice}" class="border p-2">`;
                upboundPriceCell.innerHTML = `<input type="number" name="upbound_price" value="${upboundPrice}" class="border p-2">`;
                downboundPriceCell.innerHTML = `<input type="number" name="downbound_price" value="${downboundPrice}" class="border p-2">`;
            
                var editButton = row.querySelector('.edit-button');
                editButton.innerText = '저장';
                editButton.setAttribute('onclick', `savePricing(${pricingId})`);
            }
            function savePricing(pricingId) {
                // 폼 생성 및 서버에 제출
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                // Django URL 구조에 맞게 수정
                form.setAttribute('action', '{% url "admin:editPricing" pricing_id='0' %}'.replace('0', pricingId));

                var row = document.getElementById('pricing_' + pricingId);
                row.querySelectorAll('input').forEach(function(input) {
                    // 클론된 입력 요소를 폼에 추가
                    form.appendChild(input.cloneNode(true));
                });

                // CSRF 토큰 추가
                var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').cloneNode(true);
                form.appendChild(csrfToken);

                // 폼을 body에 추가하고 제출
                document.body.appendChild(form);
                form.submit();
            }

        </script>
        

        <style>

            .card-container {
                width: auto; /* 너비를 자동 조절 */
                max-width: 100%; /* 최대 너비를 부모 요소의 100%로 설정 */
            }
    
        </style>
</body>
</html>
